= form_for(project) do |f|
  - if project.errors.any?
    #error_explanation
      %h2
        = pluralize(project.errors.count, "error")
        prohibited this project from being saved:

      %ul
      - project.errors.full_messages.each do |message|
        %li= message
      
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :coverage
    .input-group
      = f.text_field :coverage, class: 'form-control'
      .input-group-addon
        \%

  .form-group
    = f.label :build_state
    = f.select :build_state, [['Success', :success], ['Failed', :failed], ['Running', :running], ['Unknown', :unknown], ['Empty', '']], {}, class: 'form-control'

  .actions
    = f.submit class: 'btn btn-primary'