.text-center
  %h1 Projects
  .lead Here is an overview of your active projects

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Origin ID
  %tbody
    - @projects.each do |project|
      %tr
        %td
          = content_tag :span, '', class: "fa fa-fw fa-#{project.origin}"
          = link_to project.name, project
        %td
          = project.origin_id

.text-center
  = link_to 'Setup Projects', setup_projects_path, class: 'btn btn-default'