<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Coverage:</strong>
  <%= @project.coverage %>
</p>

<p>
  <strong>Build state:</strong>
  <%= @project.build_state %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
