%html
  %head
    = render 'head'
  %body{ ng: { controller: 'RootCtrl' } }
    = render 'navbar'
    = render 'notifications'
    = content_for?(:content) ? yield(:content) : yield
    = render 'footer'