%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: :viewport, content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' }
    =favicon_link_tag 'favicon-tv.ico'
    %title Appatite
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-default.navbar-appatite
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: "#navbar-collapse-1" } }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =link_to root_path, class: 'navbar-brand' do
            %span.fa.fa-tv
            Appatite

        .collapse.navbar-collapse#navbar-collapse-1
          %ul.nav.navbar-nav
            %li= link_to 'Projects', projects_path
            %li= link_to 'Pricing', pricing_path

          %ul.nav.navbar-nav.navbar-right
            - if admin?
              %li
                = link_to admin_root_path do
                  %span.hidden-xs
                    %span.fa.fa-wrench.fa-fw
                  %span.visible-xs
                    Admin
            - if user_signed_in?
              %li.dropdown.dropdown-avatar
                %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' }, role: 'button', aria: { haspopup: true, expanded: false }}
                  - if current_user.image.blank?
                    %span.fa.fa-fw.fa-user
                  - else
                    = image_tag current_user.image, class: 'img-circle'
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to user_path(current_user) do
                      %span.fa.fa-user
                      Profile
                  %li
                    = link_to edit_user_path(current_user) do
                      %span.fa.fa-cog
                      Settings
                  %li.divider{ role: 'separator' }
                  %li
                    = link_to destroy_user_session_path, method: :delete do
                      %span.fa.fa-sign-out
                      Logout
            - elsif any_auth?
              %li
                = link_to new_user_session_path do
                  %span.fa.fa-sign-in
                  Login

    - if notice
      .alert.alert-global.alert-success
        = notice

    - if alert
      .alert.alert-global.alert-danger
        = alert

    = content_for?(:content) ? yield(:content) : yield

    = render 'analytics'